<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Egzozstore.com | En Ucuz Egzoz Fiyatları | En Ucuz Susturucu Fiyatları </title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap" rel="stylesheet">
</head>
<body>
    <%- include('./partials/header') %>
    <main>
        <%- include('./sections/search-hero-section') %>
        <%- include('./sections/top-selling-section') %>
        <%- include('./sections/campaigns-and-announcements-section') %>
        <%- include('./sections/why-us-section') %>
        <%- include('./sections/customer-comments-section') %>
        <%- include('./sections/sample-videos-section') %>
        <%- include('./sections/cta-section') %>
    </main>
    <%- include('./partials/footer') %> 
</body>
</html>